.report-screen {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $text-02;
}

.report-screen__pick {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 92%;
  }
}

.report-screen__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: rem(64px);
  flex-shrink: 0;
  background: rgba(171, 175, 186, 0.5);

  .pagination {
    flex-grow: 1;
  }

  .button--link.pagination__button {
    .svg-icon {
      fill: $text-04;
    }
  }
}

.pagination__text {
  padding: 0 $spacing-md;
  color: $text-04;
  font-size: 15px;
}

.button.report-screen__fit-button {
  margin-left: auto;

  .svg-icon {
    fill: $text-04;
  }
}