.report-slider {
  overflow-y: auto;
  width: rem(224px);
  height: 100%;
  flex-shrink: 0;
  background: rgba(36, 46, 61, 0.48);
}

.report-slider__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-slider__item {
  margin-top: $spacing-xl;
  border: 4px solid transparent;

  &:first-child {
    margin-top: $spacing-lg;
  }

  &:last-child {
    margin-bottom: $spacing-lg;
  }

  &.report-slider__item--selected {
    border-color: $text-05;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.report-slider__button {
  @include button-normal;
  overflow: hidden;
  width: rem(168px);
  height: rem(92px);
  padding: 0;
  border: 1px solid $text-01;

  img {
    display: block;
    width: 100%;
  }
}